<div class="jumbotron">
      <div class="container">
        <h2>Welcome to cheat</h2>
        <p>This is a tee.</p>
        
      </div>
    </div>
	<div class="banner">
  <div class="container">
    less v2.2.0 has been released -
    <strong>
      <a href="https://github.com/less/less.js/blob/master/CHANGELOG.md">See what's new</a>
    </strong>
  </div>
</div>
<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <ul class="list-group">
  <li ng-repeat="revit in revitfact"  revit="revit" class="list-group-item"></li>
</ul>
        </div><!--/.sidebar-offcanvas-->
        <div class="col-xs-12 col-sm-9">
          <table ng-table="tableParams" class="table ng-table-responsive">
            <tbody ng-repeat="group in $groups">
                <tr class="ng-table-group">
                    <td colspan="{{$columns.length}}">
                        <a href="" ng-click="group.$hideRows = !group.$hideRows">
                            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                            <strong>{{ group.value }}</strong>
                        </a>
                    </td>
                </tr>
                <tr ng-hide="group.$hideRows" ng-repeat="user in group.data">
                    <td sortable="'name'" data-title="'Name'">
                        {{user.name}}
                    </td>
                    <td sortable="'attr'" data-title="'Attribute'">
                        {{user.attr}}
                    </td>
                </tr>
            </tbody>
        </table>
          
         
        </div><!--/.col-xs-12.col-sm-9-->

        
      </div><!--/row-->

      <hr>

      <footer>
        <p>© Company 2014</p>
      </footer>

    </div>

